.studentSiderNavbar{
    position: sticky !important;
    top: 15px;
}
.studentSiderNavbar__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.studentSiderNavbar__logo_big{

    object-fit: cover;
}

.studentSiderNavbar__text__hidden{
    display: none;
}

.studentSiderNavbar__text__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
}